code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #021d32;
  color: black;
  text-align: center;
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
}

header {
  color: white;
}

.song-columns {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.search-results {
  width: 30%;
  max-width: 420px;
  min-width: 350px;
  background-color: rgba(62, 193, 132, 0.7);
  margin: 0 2em 1em 2em;
  padding: 0;
  list-style: none;
  text-align: left;
  border-radius: 6px;
}

.search-results h3 {
  margin: 0 0 1em 0;
  padding: 0.5em 0 0 0;
  font-size: 20px;
  text-align: center;
  color: #fbfaf8;
}

.search-results ul {
  list-style: none;
  margin: 0;
}

.tracklist {
  width: 30%;
  max-width: 420px;
  min-width: 350px;
  background-color: rgba(62, 193, 132, 0.7);
  margin: 0 2em 1em 2em;
  padding: 0;
  list-style: none;
  text-align: left;
  border-radius: 6px;
}

.tracklist h3 {
  margin: 0 0 1em 0;
  padding: 0.5em 0 0 0;
  font-size: 20px;
  text-align: center;
  color: #fbfaf8;
}

.tracklist ul {
  list-style: none;
  margin: 0;
}

.tracklist input {
  display: block;
  background-color: #3ec184;
  border: none;
  border-bottom: 2px solid white;
  border-radius: 4px;
  text-align: center;
  margin: 0 auto 1em auto;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.tracklist input:focus {
  background-color: #66d09f;
  border-bottom: 2px solid black;
  color: black;
  outline: none;
}

.tracklist button {
  margin: 1.5em auto;
  padding: 8px 14px;
  display: block;
  color: #3ec184;
  background-color: #111;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  transition: all 0.5s;
  box-shadow: 0 0 2px #222;
}

.tracklist button:hover {
  color: #66d09f;
}

.tracklist button:active {
  transition: all 0s;
  color: white;
  background-color: black;
  box-shadow: 1px -1px 3px white;
}

.track {
  padding: 1em;
  margin: 0.5em 0.6em;
  font-size: 14px;
  border-bottom: 2px solid #bff0f4;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background-color: #3ec184;
  transition: all 0.5s;
}

.track:hover {
  background-color: #48f1a2;
  color: black;
}

.title-container {
  width: 100%;
}

.button-container {
  display: flex;
  width: 20px;
  margin-left: auto;
}

.track .title {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 16px;
}

.track .artist {
  display: inline-flex;
  padding: 0;
  margin: 0;
}

.track .album {
  display: inline-flex;
  padding: 0;
  margin: 0;
}

.track .album::before {
  content: "\25CF";
  font-size: 14px;
  padding: 0 2px;
  transform: scale(0.5);
}

.track .track-buttons {
  font-size: 20px;
  margin-left: auto;
  padding: 3px;
  display: none;
}

.track .track-buttons:hover {
  color: white;
  cursor: pointer;
}

.search-results .add {
  display: block;
}

.search-results .add::after {
  content: "\f0fe";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

.tracklist .remove {
  display: block;
}

.tracklist .remove::after {
  content: "\f146";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

@media only screen and (max-width: 800px) {
  .song-columns {
    display: block;
  }

  .search-results {
    width: 80%;
    margin: 1em auto;
  }

  .tracklist {
    width: 80%;
    margin: 1em auto;
  }
}
